.loginpage {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: right;
    align-items: center;
    gap:30px;
    background: url("assets/LOGIN.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

.login-container {
    width: 400px;
    padding: 30px;
    background: transparent;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-right: 150px;
    justify-content: center;
}

.login-container h2 {
    color: green;
    font-size: 2.8rem;
    margin-bottom: 0;
}
.login-container h3 {
    font-size: 1.8rem;
    margin-top: 0;
}
.input-group {
    text-align: left;
    width: 100%;
}

.input-group input{
    width:100%;
    padding:20px;
    border-radius:40px;
    outline: auto;
    box-sizing: border-box;
    transition: 0.3s;
    font-size: 20px;
}

.input-group input:focus {
    outline-color: green;
}

.login-btn {
    background: green; 
    color: white;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    border: none;
    width: 30%;
    padding: 10px 10px;
    border-radius: 16px;
    margin-top: 10px;
}
